body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rectangle{
    width: 1200px;
    height: 800px;
    background-color: pink;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
   

}
.top_rectangle{
    width: 1200px;
    height: 200px;
    background-color: brown;
}
.mid_rectangle{
   
    width: 900px;
    height: 100px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.mid_rectangle1{
   
    width: 900px;
    height: 100px;
    background-color: white;
    margin-top: 60px;
    display: flex;
 
}
.mid_rectangle2{
   
    width: 900px;
    height: 100px;
    background-color: white;
    margin-top: 60px;
    display: flex;
}
.ava{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 10px;
}
.text1{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: cadetblue;
}
.box{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
    background-color: black;
    width: 90px;
    height: 20px;
  border-radius: 20%;
}
