.content {
    background-color: indianred;
    height: 500px;
    width: 700px;
}

.head {
    background-color:rgb(51, 25, 0);
    width: 700px;
    height: 60px;
}

.box {
    width: 500px;
    height: 300px;
    margin-left: 70px;
    margin-top: 50px;

}

.elem1 {
    background-color: white;
    width: 500px;
    height: 70px;
    margin: 30px;
}

.circle {
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 10px;
}

.name {
    display: flex;
    position: relative;
    left: 70px;
    top: -35px;
}

.header {
    color: skyblue;
    font-size: 12px;
}

.featured {
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 10px;
    position: relative;
    padding: 3px;
    margin-top: 0px;
    left: 10px;
}
